<?xml version="1.0" encoding="utf-8"?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
    <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
    <property name="show_sql">true</property>
    <property name="connection.connection_string">
      Server=111.231.77.96;Database=OutPut-Mining;User ID=OutPut-Mining;Password=1qazXSW@3456YHN;
    </property>
    <property name="hbm2ddl.keywords">none</property>
    <mapping assembly="DataRepository"></mapping>
  </session-factory>
</hibernate-configuration>