/*通用*/
header{background-color: #1f85d7;}
.cube1, .cube2{background-color: #1f85d7;}
/*首页*/
.w_play .hd li.on{background-color: #1f85d7;}
.w_play .hd li.on i{border-right: 1px solid #1f85d7;background-color: #1f85d7;border-bottom: 1px solid #1f85d7;}
.morePro .bd .more{background-color: #1f85d7;}
.morePro .hd li.on{border-bottom: 2px solid #1f85d7;}
.searchTitle h2 a input[type="submit"],.searchTitle h2 a{color: #1f85d7;}
.type .hd li.on{background: #1f85d7;}
/*线路*/
.baseInfo .lable span{border: 1px solid #1f85d7;}
.baseInfo .lable span i{border-right: 1px solid #1f85d7; border-bottom: 1px solid #1f85d7;}
.orderDate .bd li.on{background-color: #1f85d7;}
.orderDate .bd li.on:after{border-top: 0.5rem solid #1f85d7;}
.detail li h4 strong{background: #1f85d7;}
.detail li h4 strong:after{border: 3px solid #1A6AA9; border-left-color: transparent; border-bottom-color: transparent;}
.detail li .dining i.ico{background: #fff url(images/ls1.png) no-repeat 0 0/1.5rem;}
.detail li .live i.ico{background: #fff url(images/ls2.png) no-repeat 0 0/1.5rem;}
.detail li .travel i.ico{background: #fff url(images/ls3.png) no-repeat 0 0/1.5rem;}
.list .list_l .tag_text{background-color: #1f85d7;}
/*景点、签证、礼品、导游*/
.brief .hd li.on{border-bottom: 2px solid #1f85d7;}
/*机票*/
.flightSearch .hd li.on{border-bottom: 2px solid #1f85d7;}
.flightNumber .title .fr{color: #1f85d7;}
.flightNumber li>div.certificate label:after{border-bottom: 2px solid #1f85d7; border-right: 2px solid #1f85d7;}
/*租车*/
.carSearch .hd li.on{border-bottom: 2px solid #1f85d7;}
/*游记*/
.questionPop .bd .button{background-color: #1f85d7;}