.loginqq {
    background: #66CC66;
    height: 36px !important;
    width: 25%;
    text-align: center;
    line-height: 36px;
    color: #fff;
    float: left;
}

.loginsina {
    background: #CC6666;
    height: 36px !important;
    width: 25%;
    text-align: center;
    line-height: 36px;
    color: #fff;
    float: left;
}

.loginalipay {
    background: #FF9933;
    height: 36px !important;
    width: 25%;
    text-align: center;
    line-height: 36px;
    color: #fff;
    float: left;
}

.weixin {
    background: #3cb034;
    height: 36px !important;
    width: 25%;
    text-align: center;
    line-height: 36px;
    color: #fff;
    float: left;
}
